* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --banner-width: 500px;
    --banner-ratio: calc(2792 / 1862);
    --banner-background: rgb(0,0,0,0.5);
    --content-background: #f9fafb;
    --form-background: #ffffff;
}

@font-face {
    font-family: logo-font;
    src: url("../fonts/Norse-Bold.otf");
}

body {
    display: flex;
    background: gray;
    justify-content: stretch;
    font-family: roboto, sans-serif;
}

/* ========= SIDE BANNER =========== */

.banner-img {
    width: 100%;
    position: absolute;
}

.banner {
    flex: 3;
    background: antiquewhite;
    position: relative;
    display: inline-block;
}

.banner-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate( -50%, -50% );
    padding: 30px;
    text-align: center;

    color: white;
    font-family: logo-font, sans-serif;
    font-size: 3.0rem;

    background-color: var(--banner-background);
    width: 100%;
}

.banner-logo {
    height: 8rem;
}

.banner-text > * {
    display: inline-block;
    vertical-align: middle;
}

/* ===== FORM CONTENT ========*/
.content {
    background: wheat;
    flex: 5;
    aspect-ratio: calc(5 / (3 * var(--banner-ratio)));

    display: flex;
    flex-direction: column;
    /* justify-content: stretch; */
}

.top {
    flex: 30;
    background-color: var(--content-background);
    height: 100px;
    padding: 15% 0px 0px 50px;
}

.middle {
    flex: 25;
    background-color: var(--form-background);
    height: 200px;
}

.bottom {
    flex: 30;
    background-color: var(--content-background);
    height: 300px;
}

.top > p {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}